.form-search {
  .about-information {
    height: 100%;
    border-radius: 8px;
    background: linear-gradient($bg-color-1, $bg-color-2);

    .form-search-block {
      display: flex;
      flex-direction: column;

      .form-search-block-content {
        margin-bottom: 18px;
        align-items: center;
        display: flex;

        .search-form {
          width: 100%;

          .tab-form {
            .active {
              color: $color-validate;
            }

            .tab-form__button {
              color: $color-validate;
              &:after {
                background: $color-validate;
              }
            }
          }
        }
      }
    }

    .form-search-block-header {
      background-image: url(https://embedded.vnisc.com.vn/Resources/images/iconPlan.png);
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 22px;
      border-radius: 3px 3px 0 0;
      padding: 20px 12px;
      text-align: left;
      border-bottom: 1px solid $color-border;

      p {
        color: $color-white;
        margin-bottom: 0;
        font-size: 16px;
        padding-left: 30px;
        text-align: left;
        text-transform: uppercase;
      }
    }

    .css-9zy5vb-control {
      min-height: 36px;
    }

    .select-location-mobile {
      min-height: 36px;
    }

    .custom-calender-value {
      min-height: 36px;
    }

    .label-select {
      color: $color-white;
    }

    .button-form-schedule {
      background: $color-btn;
    }

    .custom-calender-value {
      background: $color-white;
    }

    .select-location-mobile {
      background: $color-white;
    }

    .errors-validate {
      color: $color-validate;
    }
  }
  .search-form {
    .container-type-search__option {
      & > label {
        color: #fff;
      }
    }

    .delete-destination {
      color: #fff;
    }
  }
}

.container-search-form-vertical {
  max-width: 750px !important;
}

.grid-passenger-vertical {
  grid-template-columns: unset !important;
}

.options-filter-search-ticket {
  grid-template-columns: 1fr !important;
}

@media (min-width: 992px) {
  .form-search {
    .grid-passenger-horizontal {
      grid-template-columns: 1fr;
    }

    .confirm-button {
      grid-column: unset;
    }
  }

  .time-travel-from-custom-date-picker .custom-calender-value,
  .time-travel-to-custom-date-picker .custom-calender-value {
    padding: 8px 10px !important;
  }
}

@media (max-width: 992px) {
  .form-search {
    .about-information .form-search-block .form-search-block-content {
      margin-top: 0;
    }

    .about-information .form-search-block-header {
      padding: 12px;
    }

    .icon-switch-location {
      justify-self: center;
    }

    .location-and-time-horizontal {
      grid-template-columns: 46% 5.5% 46%;

      .time-travel-to {
        margin-left: -6.3%;
        width: 106.75%;
      }
    }

    .time-travel-from {
      width: 93.465%;
    }
  }
}

@media screen and (max-width: 576px) {
  .form-search {
    .grid-passenger-horizontal {
      grid-template-columns: 1fr;
    }

    .location-and-time-horizontal {
      grid-template-columns: 44% 7.5% 44%;
    }

    .confirm-button {
      grid-column: unset;
    }
  }
}

@media (max-width: 480px) {
  .form-search {
    .location-and-time-horizontal {
      grid-template-columns: repeat(2, 1fr);

      .time-travel-to {
        margin-left: 0;
        width: 100%;
      }
    }

    .time-travel-from {
      width: 100%;
    }
  }
}
