.introduce {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;

  .introduce-title {
    font-size: 18px;
    font-weight: 500;
  }

  .tab-3__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 8px;

    img {
      width: fit-content;
      height: fit-content;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }

  .introduce-system {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
      margin-left: 12px;

      strong {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 576px) {
  .introduce {
    .introduce-content {
      ul {
        padding: 0 12px;
      }

      .tab-3__logo {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 480px) {
  .introduce .tab-3__logo {
    grid-template-columns: repeat(2, 1fr);

    img {
      width: 100px;
    }
  }
}
