.combo-tour {
  &__content {
    display: grid;
    grid-template-columns: 61% 38%;
    gap: 12px;

    &--list-tour {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .no-content {
      text-align: center;
      font-size: 16px;
      padding: 24px;
    }
  }
}

.detail-tour {
  &__content--left {
    display: grid;
    grid-template-columns: 65% 32%;
    gap: 24px;

    img {
      width: 100%;
    }
  }

  &__content--right {
    border-radius: 8px;
    box-shadow: 0 0 10px 0 hsla(0, 0%, 9%, 0.12);
    padding: 16px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 10px;

    &-price {
      display: flex;
      flex-direction: column;

      & > p:nth-child(1) {
        font-size: 18px;
        font-weight: 700;
      }

      & > p:nth-child(2) {
        font-size: 18px;

        strong {
          color: $color-error;
          font-size: 32px;
        }
      }
    }

    div {
      display: flex;
      gap: 8px;

      svg {
        width: 24px;
        height: 24px;
      }

      p {
        font-size: 16px;
        strong {
          color: $color-primary;
          font-size: 700;
        }
      }
    }

    a {
      text-align: center;
      padding: 8px;
      background: $color-btn;
      border-radius: 8px;
      color: $color-white;
      margin-top: 16px;
    }
  }
}

@include responsive('lg') {
  .combo-tour {
    &__content {
      grid-template-columns: 1fr;
      padding: 0 8px;
      & > div:nth-child(2) {
        display: none;
      }
    }
  }

  .detail-tour {
    padding: 0 8px;
    &__content--left {
      grid-template-columns: 1fr;

      & > div:nth-child(2) {
        grid-row: 1;
      }
    }
  }
}

// detail new page
.section-tour-detail {
  .tour-thumb {
    margin: 10px auto;
    text-align: center;
    img {
      border-radius: 8px;
      max-width: fit-content;
      height: fit-content;
      object-fit: contain;
    }
  }

  .content-tour-title {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .button-to-detail {
    display: flex;
    gap: 10px;
    .button-to-detail__link {
      background: $color-btn;
      padding: 10px 20px;
      border-radius: 8px;
      text-align: center;
      color: #fff;
    }
  }
  .tour-detail {
    display: grid;
    grid-template-columns: 68.5% 30%;
    gap: 15px;
    margin: 2rem 0;
    padding: 0 2px;

    .content-tour {
      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        width: 100%;
      }

      .tour-detail-short-content,
      .tour-detail-journey,
      .tour-detail-price-detail,
      .tour-detail-price-content,
      .tour-detail-price-policy {
        box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.09);
        border-bottom-width: 1px;
        height: fit-content;
        padding: 30px;
        border: 1px solid #e4e6e8;
        border-radius: 8px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &-title {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 1rem;

          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1.5px;
            background: #e4e6e8;
            margin-top: 10px;
          }
        }
      }

      .tour-detail-short-content {
      }
      .tour-detail-journey {
      }
      .tour-detail-price-detail {
      }
      .tour-detail-price-content {
        ul {
          padding-left: 20px;
          font-size: 16px;
          color: black;
          list-style: disc;
        }
      }
      .tour-detail-price-policy {
      }
      .button-share-tour {
        display: flex;
        align-items: center;
        gap: 10px;

        .astro-social-share {
          .social-share-btn {
            svg {
              fill: #3c5a99;
            }

            svg:hover {
              fill: #1877f2;
            }
          }
        }
      }
    }

    .tour-detail-info {
      .info-tour-common {
        box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.09);
        border-bottom-width: 1px;
        height: fit-content;
        padding: 30px;
        border: 1px solid #e4e6e8;
        border-radius: 8px;
        position: sticky;
        margin-bottom: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

        .info-tour-common-price {
          font-size: 24px;
          font-weight: 600;
          font-weight: bold;
          color: $color-primary;
          margin-bottom: 10px;
        }

        .tour-detail-info-date {
          display: flex;
          justify-content: space-between;

          .tour-detail-info-date__time,
          .tour-detail-info-date__departure {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 5px;
          }
        }

        .tour-detail-info-location-vehicle {
          .tour-detail-info-location-vehicle__location,
          .tour-detail-info-location-vehicle__vehicle {
            display: flex;
            gap: 8px;
            align-items: center;
          }

          .tour-detail-info-location-vehicle__location {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@include responsive('lg') {
  .section-tour-detail {
    .tour-detail {
      grid-template-columns: 1fr;
    }
    .button-to-detail {
      justify-content: center;
    }
    .tour-detail {
      .tour-detail-info {
        .info-tour-common {
          width: 80%;
          margin: 0 auto 10px auto;
        }
      }
    }
  }
}

@include responsive('md') {
  .tour-thumb {
    img {
      border-radius: 8px;
      max-width: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .section-tour-detail {
    .button-to-detail {
      display: none;
    }
    .tour-detail {
      .content-tour {
        .tour-detail-short-content,
        .tour-detail-journey,
        .tour-detail-price-detail,
        .tour-detail-price-content,
        .tour-detail-price-policy {
          padding: 15px 30px;
        }
      }

      .tour-detail-info {
        grid-row: 1;
        .info-tour-common {
          width: 100%;
          margin: 0 auto 10px auto;
        }
      }
    }
  }
}

@include responsive('se') {
  .section-tour-detail {
    .tour-detail {
      .tour-detail-info {
        grid-row: 1;
        .info-tour-common {
          width: 100%;
          .tour-detail-info-date {
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
