---
import Layout from '@/layouts/Layout.astro';
import imageNotFound from '../asset/images/pageNotFound.png';
---

<Layout title="404" description="Không tìm thấy trang">
  <div class="container">
    <div class="page-404">
      <p>Không tìm thấy trang</p>
      <p>Trang này không tồn tại hoặc đã bị xóa!</p>
      <img
        width={400}
        height={400}
        src={imageNotFound.src}
        alt={'404: Not Found'}
        class="page-404-img"
      />
    </div>
    <div class="button-back">
      <button class="button-back-item"
        ><a href="/" data-astro-reload class="button-back-item-href"
          >Quay về trang chủ</a
        ></button
      >
    </div>
  </div>
</Layout>
