---
import Layout from '@/layouts/Layout.astro';
import questions from '../../configs/questions.json';
import { convertStringtoUrl } from '@/common';
import HeaderSection from '@/components/HeaderSection/index.astro';

export const prerender = false;

const { slug } = Astro.params;

const title = questions.filter(
  (question) => convertStringtoUrl(question.name) === '/' + slug
);
---

<Layout title={title[0].name} description={title[0]?.shortDescription || ''}>
  <div class="question-detail">
    <HeaderSection title={title[0].name} />

    <div
      set:html={title[0].fullDescription
        ? title[0].fullDescription
        : title[0].shortDescription}
    />
  </div>
</Layout>
