section {
  flex: 1;
}

.title-buyTicket {
  font-size: 22px;
  color: $color-primary;
  margin: 0;
}

ul {
  list-style: none;
  color: $color-primary;
  font-size: 14px;
  padding: 0;

  p {
    margin: 8px 0;

    b {
      color: $color-error;
    }
  }

  li > div {
    margin-left: 24px;
  }

  li > p {
    font-size: 22px;
    font-weight: 500;

    strong {
      font-size: 14px;
    }
  }

  .buy-ticket-item {
    display: flex;
    gap: 8px;
  }

  .buy-ticket-call {
    display: flex;
    svg {
      width: 36px;
      height: 42px;
    }

    span {
      color: $color-error;
      font-weight: 600;
    }
  }

  .buy-ticket-address {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    
    div {
      display: flex;
      flex-direction: column;
      gap: 4px;

      & > p:nth-child(1) {
        color: $color-primary;
        font-weight: 600;
      }

      p {
        margin: 0;
        color: $color-black;
      }
    }
  }
}

@media (max-width: 480px) {
  .title-buyTicket {
    font-size: 18px;
  }
}
