---
import { configApp } from "@/configs";
---

<section class="info-slider-list">
  <div class="swiper">
    <div class="swiper-wrapper">
      {configApp.images_slider.map(item => <div class="swiper-slide"><img src={configApp.urlImage + item} alt="A"/></div>)}
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" is:inline></script>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    new Swiper(".swiper", {
      loop: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      slidesPerView: 1,
    });
  });
</script>